/* THEME-COLOR DEFINATION */
/* EXTRA-COLOR DEFINATION */
/* BACKGROUND-COLOR DEFINATION */
/* TEXT-COLOR DEFINATION */
/* FUNCTION-COLOR DEFINATION */
/* FONT-SIZE DEFINATION */
/* FONT-WEIGHT DEFINATION */
/* FONT-FAMILY DEFINATION */
h2 {
  font-family: "Libre Franklin", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 40px; }
  h2:after {
    content: "";
    display: inline-block;
    height: 2px;
    width: 150px;
    position: relative;
    background: #cccccc;
    top: -6px;
    left: 15px; }

.title a {
  color: #061729; }

p {
  font-family: "Lora", serif; }

.btn-primary {
  color: #154473;
  font-weight: 600;
  background: transparent;
  transition: all ease-in .5s;
  text-decoration: none; }
  .btn-primary:hover {
    background: transparent;
    color: #f7376c;
    transition: ease-in .5s;
    text-decoration: none; }

.detail {
  padding: 20px; }
  .detail .author {
    display: flex;
    flex-direction: row;
    margin-bottom: 22px; }
    .detail .author .p-image {
      padding-right: 20px;
      margin-top: 5px; }
      .detail .author .p-image .p-icon {
        border-radius: 50px; }
    .detail .author .p-name {
      position: relative;
      left: -44px;
      top: 0; }
      .detail .author .p-name li {
        color: #838a8a;
        display: inline-flex;
        flex-direction: row;
        list-style: none;
        padding-right: 10px; }
        .detail .author .p-name li .name {
          color: #1bd26d;
          font-weight: 500;
          padding-right: 5px; }
        .detail .author .p-name li .mdi {
          color: #17bb32;
          padding-right: 7px; }

.headline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  -ms-flex-align: baseline;
  align-items: baseline;
  position: relative;
  margin-bottom: 16px; }
  .headline:after {
    content: "";
    display: inline-block;
    height: 1px;
    width: 100%;
    position: absolute;
    background: #cccccc;
    top: 40px;
    left: 2px; }
  .headline h1 {
    font-size: 22px;
    margin-bottom: 40px;
    font-family: "Lora", serif;
    font-weight: 600; }

body {
  background: #f9f9f9; }

.dt-menubar .bg-light {
  padding: 6px 20px;
  position: relative; }
  .dt-menubar .bg-light img {
    width: 70%; }
  .dt-menubar .bg-light .navbar-nav .nav-item .active > .nav-link {
    background: transparent;
    color: #7171ce;
    font-size: 18px;
    font-weight: 600; }
  .dt-menubar .bg-light .navbar-nav .nav-item a {
    color: #154473;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    margin-right: 10px; }

.dt-banner-text {
  background-image: url("../image/bg-image-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
  position: relative;
  padding: 43px 0;
  min-height: 250px; }
  .dt-banner-text:after {
    content: '';
    background: #154473;
    opacity: .6;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  .dt-banner-text .banner-text {
    position: relative;
    top: 50px;
    z-index: 1; }
    .dt-banner-text .banner-text h3 {
      color: #fff;
      padding-bottom: 10px; }
    .dt-banner-text .banner-text p {
      color: #fff; }

.dt-blog {
  padding: 80px 0; }
  .dt-blog h3 {
    font-size: 20px;
    margin-bottom: 20px;
    font-family: "Lora", serif;
    font-weight: 600; }
    .dt-blog h3 a {
      color: #112338; }
  .dt-blog .bg-color {
    background: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1); }
  .dt-blog .detail {
    padding: 20px; }
    .dt-blog .detail .author {
      display: flex;
      flex-direction: row;
      margin-bottom: 22px; }
      .dt-blog .detail .author .p-image {
        padding-right: 20px;
        margin-top: 5px; }
        .dt-blog .detail .author .p-image .p-icon {
          border-radius: 50px; }
      .dt-blog .detail .author .p-name {
        position: relative;
        left: -44px;
        top: 0; }
        .dt-blog .detail .author .p-name li {
          color: #838a8a;
          display: inline-flex;
          flex-direction: row;
          list-style: none;
          padding-right: 10px; }
          .dt-blog .detail .author .p-name li .name {
            color: #f94a5a;
            font-weight: 500;
            padding-right: 5px; }
          .dt-blog .detail .author .p-name li .mdi {
            color: #f94a5a;
            padding-right: 7px; }
  .dt-blog img {
    width: 100%; }

.dt-trend {
  padding: 50px 0; }
  .dt-trend .trend-detail {
    padding: 20px;
    background: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1); }
    .dt-trend .trend-detail .author {
      display: flex;
      flex-direction: row;
      margin-bottom: 10px; }
      .dt-trend .trend-detail .author .p-image {
        padding-right: 20px;
        margin-top: 5px; }
        .dt-trend .trend-detail .author .p-image .p-icon {
          border-radius: 50px; }
      .dt-trend .trend-detail .author .p-name {
        position: relative;
        left: -44px;
        top: 0; }
        .dt-trend .trend-detail .author .p-name li {
          color: #838a8a;
          display: inline-flex;
          flex-direction: row;
          list-style: none;
          padding-right: 10px;
          font-size: 14px; }
          .dt-trend .trend-detail .author .p-name li .name {
            color: #f94a5a;
            font-weight: 500;
            padding-right: 5px; }
          .dt-trend .trend-detail .author .p-name li .mdi {
            color: #f94a5a;
            padding-right: 7px; }
    .dt-trend .trend-detail .card-title {
      margin-bottom: 20px; }
      .dt-trend .trend-detail .card-title a {
        color: #02182f; }

.dt-trend h3 {
  font-size: 20px;
  margin-bottom: 20px;
  font-family: "Lora", serif;
  font-weight: 600; }

.dt-trend .bg-color {
  background: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1); }

.dt-trend .detail {
  padding: 20px; }
  .dt-trend .detail .author {
    display: flex;
    flex-direction: row;
    margin-bottom: 22px; }
    .dt-trend .detail .author .p-image {
      padding-right: 20px;
      margin-top: 5px; }
      .dt-trend .detail .author .p-image .p-icon {
        border-radius: 50px; }
    .dt-trend .detail .author .p-name {
      position: relative;
      left: -44px;
      top: 0; }
      .dt-trend .detail .author .p-name li {
        color: #838a8a;
        display: inline-flex;
        flex-direction: row;
        list-style: none;
        padding-right: 10px; }
        .dt-trend .detail .author .p-name li .name {
          color: #f94a5a;
          font-weight: 500;
          padding-right: 5px; }
        .dt-trend .detail .author .p-name li .mdi {
          color: #f94a5a;
          padding-right: 7px; }

.dt-trend img {
  width: 100%; }

.dt-recent-blog {
  padding: 50px 0; }
  .dt-recent-blog img {
    width: 100%; }
  .dt-recent-blog .trend-detail {
    padding: 20px;
    background: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1); }
    .dt-recent-blog .trend-detail .author {
      display: flex;
      flex-direction: row;
      margin-bottom: 10px; }
      .dt-recent-blog .trend-detail .author .p-image {
        padding-right: 20px;
        margin-top: 5px; }
        .dt-recent-blog .trend-detail .author .p-image .p-icon {
          border-radius: 50px; }
      .dt-recent-blog .trend-detail .author .p-name {
        position: relative;
        left: -44px;
        top: 12px; }
        .dt-recent-blog .trend-detail .author .p-name li {
          color: #838a8a;
          display: inline-flex;
          flex-direction: row;
          list-style: none;
          padding-right: 10px;
          font-size: 14px; }
          .dt-recent-blog .trend-detail .author .p-name li .name {
            color: #f94a5a;
            font-weight: 500;
            padding-right: 5px; }
          .dt-recent-blog .trend-detail .author .p-name li .mdi {
            color: #f94a5a;
            padding-right: 7px; }
    .dt-recent-blog .trend-detail .card-title {
      margin-bottom: 20px; }
      .dt-recent-blog .trend-detail .card-title a {
        color: #02182f; }

.dt-footer {
  padding: 30px;
  background: #3f4679; }
  .dt-footer h4 {
    font-size: 18px;
    margin-bottom: 40px;
    font-family: "Lora", serif;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    color: #fff; }
    .dt-footer h4:after {
      content: "";
      display: inline-block;
      height: 2px;
      width: 50px;
      position: absolute;
      background: #dae4d4;
      top: 31px;
      left: 2px; }
  .dt-footer p {
    color: #fff;
    font-size: 15px;
    font-weight: 500; }
  .dt-footer .social-link {
    padding: 0; }
    .dt-footer .social-link li {
      list-style: none; }
      .dt-footer .social-link li a {
        color: #fff;
        font-size: 15px;
        font-weight: 500; }
  .dt-footer .copyright-text {
    text-align: center;
    font-size: 12px; }
